body{
    text-align: center;
}

#log{
    display: inline-block;
    height: 60vh;
    width: 40vh;
    background-color: rgb(28, 136, 136);
    position: relative;
    top: 20vh;
    border-width: 2%;
    border-style: solid;
    border-color: rgb(23, 94, 99);
    padding-top: 2vh;
    
}
input{
   
    height:4vh;
    width: 50wh;
   
    margin-top: 2vh;
}