
body{
    
    text-decoration-line: none;
}
.nav{
    display: inline-block;
    background-color: rgb(0, 8, 51);
    color: rgb(255, 145, 0);
    font-size: larger;
    margin-left: 15vw;
    margin-top:2vh;
    padding:2vh;
    margin-bottom: 2vh;
    
}


#navbar{
    background-color: rgb(0, 8, 51);
    position: fixed;
    width:99vw;
  
}
.nav:hover{
    border-color: white;
    border-style: solid;
    border-width: 0.1vh;
}





