/* for navigation bar
*/
.nav:hover{
    
  color: rgb(255, 145, 0);
 
}

#icon:hover{
  color:rgb(255, 145, 0)
}

.nav{
  
  font-size: 2vh;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255) ;
  background-color: rgb(0, 0, 0); 
  text-decoration: none;
  display: inline-block;
  margin-top: 1.5vh;
  

}
#nav{
  background-color: rgb(0, 0, 0);
  height: 5vh;
  width: 100vw;
  display:flex;
  justify-content: space-around;
  position: fixed;
  z-index: 1;
}
body{
  text-align: center;
  text-decoration-line: none;
  background-color: rgb(232, 241, 255);
  
}


.menu-button {
  margin-top: 2.5vh;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 4vh;
  height: 0.4vh;
  background-color: rgb(255, 145, 0);
  margin: 12%;
  
}


/*
for sliding images
*/

#container_img{
  position: relative;

  height: 45vh;
  width: 70vw;
  position: relative;
  left: 15vw;
   top: 5vh;
  
  display:flex;
  justify-content: center;

  
 
}



#img{
  background-image: url(component/images/t2.jpeg);
  display: block;
}
#img1{
  background-image: url(component/images/t1.jpeg);
     display: none;
}
#img2{
  background-image: url(component/images/t3.jpeg);
  display: none;
}
#img3{
  background-image:url(component/images/t4.jpeg);
  display: none;
}
.img{
  background-size: cover;
  height: 45vh;
  width: 70vw;
  position: absolute;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 0.1vh;
  

 
}
#under_image_text{
  position: relative;
  top: 5vh;
  
  background-color: rgb(0, 0, 0);
  text-align: center;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}



/* for icon */
#icon{
  margin-left: 3vh;
  height: 5vh;
  width: 6vh;
  color: white;
  

}

#content{
  width:82vw;
  
  
  left: 15.9vw;

  position: relative;
  bottom:79.9vh;
  
 
  
  background-color: rgb(255, 255, 255);
  

  display: inline-block;
}


.card {
 
  
  
  cursor: pointer;
  font-size: 1.5rem;
  
  border-width: 0.1vh;
  border-color: rgb(0, 0, 0);
  border-collapse: collapses;
  position: relative;
  
  background-color: rgb(255, 255, 255);
 overflow: hidden;
 color: rgb(0, 0, 0);
  border-radius: 0px;
}

.col-md-4{
  height:18rem;
  width: 26rem;
  display: inline-block;
 
}
#content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0.5vw;
  
  
}
.card-text{
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
 
}
#cardimage1{

  background-size:cover ;
 
  border-style: solid;
  border-width: 0.1vh;
  border-color: rgb(0, 0, 0);
  border-collapse: collapse;
  margin: -0.1vh; 
}

#beside_card{
  margin: -0.1vh; 
  background-color: rgb(255, 255, 255);
  height: 80vh;
  width :15.95vw;
  color: rgb(9, 48, 109);
 
  display:inline-block;
 
  border-width: 0.1vh;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  
  margin-right: 80vw;
  margin-top: 6vh;
  position:sticky;
 
  display: flex;
  padding-top: 2vh;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
 

  
  
  
  
}
#filler{
  font-size: 2rem;
  font-weight: bold;
  color: blue;
}

.ft{
  color: blue;
  font-weight: bold;
  font-size: 1.2rem;
}


/*
for toggle bar switch
*/
.btn{
 width:14.8vw;
  position: relative;
  left: 0.05vw;
  margin-top: 4vh;
  bottom: 3vh;
  font-size: 0.8rem;
  
}




#fortext{
  margin-top: 4vh;
  font-size: 1rem;
  font-weight: 500;
  

}


