/* for navigation bar
*/
.nav:hover{
    
  color: white;
 
}

#icon:hover{
  color: white
}

.nav{
  
  font-size: 2vh;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 145, 0) ;
  background-color: rgb(36, 38, 52); 
  text-decoration: none;
  display: inline-block;
  margin-top: 1.5vh;
  

}
#nav{
  background-color: rgb(36, 38, 52);
  height: 5vh;
  width: 100vw;
  display:flex;
  justify-content: space-around;
  position: fixed;
  z-index: 1;
}
body{
  text-align: center;
  text-decoration-line: none;
  background-color: rgb(232, 241, 255);
  
}


.menu-button {
  margin-top: 2.5vh;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 4vh;
  height: 0.4vh;
  background-color: rgb(255, 145, 0);
  margin: 12%;
  
}


/*
for sliding images
*/

#container_img{
  position: relative;

  height: 45vh;
  width: 70vw;
  position: relative;
  left: 15vw;
   top: 5vh;
  
  display:flex;
  justify-content: center;

  
 
}



#img{
  background-image: url(./images/t3.jpeg);
  display: block;
}
#img1{
  background-image: url(./images/t4.jpeg);
     display: none;
}
#img2{
  background-image: url(./images/t2.jpeg);
  display: none;
}
#img3{
  background-image:url(./images/t1.jpeg);
  display: none;
}
.img{
  background-size: cover;
  height: 45vh;
  width: 70vw;
  position: absolute;
  border-color: rgb(3, 3, 254);
  border-style: solid;
  border-width: 0.2rem;
  

 
}
#under_image_text{
  position: relative;
  top: 5vh;
  
  background-color: rgb(36, 38, 52);
  text-align: center;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}



/* for icon */
#icon{
  margin-left: 3vh;
  height: 5vh;
  width: 6vh;
  color: white;
  

}

#content{
  width:82vw;
  
  left: 16vw;

  position: relative;
  bottom:80vh;
  
 
  
  background-color: rgb(255, 255, 255);
  

  border-collapse: collapse;
  display: inline-block;
}


.card {
 
  
  
  cursor: pointer;
  font-size: 1.5rem;
  
  border-width: 0.3vh;
  border-color: rgb(3, 3, 254);
  border-collapse: collapses;
  position: relative;
  
  background-color: rgb(255, 255, 255);
 overflow: hidden;
 color: rgb(0, 0, 0);
  border-radius: 0px;
}

.col-md-4{
  height:18rem;
  width: 26rem;
  display: inline-block;
 
}
#content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  
  
  
}
.card-text{
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
 
}
#cardimage1{
  background-image: url(./images/for_card/c1.jpeg);
  background-size:cover ;
 
  border-style: solid;
  border-width: 0.3vh;
  border-color: rgb(3, 3, 254);
  border-collapse: collapse;
}

#beside_card{
  background-color: rgb(177, 231, 246);
  height: 80vh;
  width :15vw;
  color: rgb(9, 48, 109);
 
  display:inline-block;
 
  border-width: 0.3vh;
  border-style: solid;
  border-color: rgb(3, 3, 254);
  
  margin-right: 80vw;
  margin-top: 6vh;
  position:sticky;
 
  display: flex;
  flex-direction:column;

  justify-content:space-evenly;

  padding-right:7vw ;
  
  
  
}
#filler{
  font-size: 2rem;
  font-weight: bold;
  color: blue;
}

.ft{
  color: blue;
  font-weight: bold;
  font-size: 1.2rem;
}





/*
for checkbox switches / button
*/

.btn_radio2{
  height: 2rem;
  width: 5rem;
  background-color:rgb(44, 40, 231);
  border-width: 0.1rem;
  border-color: black;
  border-style: solid;
  border-radius: 50px;
  cursor: pointer;
  position:absolute;
  display:none ;


}
.btn_radio{
  height: 2rem;
  width: 5rem;
  background-color:rgb(242, 242, 242);
  border-width: 0.1vh;
  border-color: black;
  border-style: solid;
  border-radius: 50px;
  cursor: pointer;
  position:absolute;
  display:inline-block;


}



.circle_btn1{
  height:1.4rem;
  width: 1.4rem;
  background-color: rgb(180, 180, 180);
  margin-top: 0.25rem;
  margin-left: 0.25rem;
  border-radius: 50px;
  border-width: 0.1rem;
  border-color: black;
  border-style: solid;
  position:absolute;
}
.circle_btn2{
  height:1.4rem;
  width: 1.4rem;
  background-color: rgb(255, 255, 255);
  margin-top: 0.25rem;
  margin-left: 3.25rem;

  border-radius: 50px;
  border-width: 0.1vh;
  border-color: black;
  border-style: solid;
  position:absolute;
}
