/* for navigation bar
*/
.nav:hover{
    
    color: white;
   
}

.nav{
    
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 145, 0) ;
    background-color: rgb(44, 47, 62); 
    text-decoration: none;
    display: inline-block;
    margin-top: 3vh;

    
}
#nav{
    background-color: rgb(44, 47, 62);
    height: 10vh;
    display:flex;
    justify-content: space-around;
    
}
body{
    text-align: center;
    text-decoration-line: none;
    background-color: rgb(29, 168, 255);
    
}


.menu-button {
    margin-top: 2.5vh;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 4vh;
    height: 0.4vh;
    background-color: rgb(255, 145, 0);
    margin: 12%;
    
}

#container_img{
    position: relative;
  
    height: 40vh;
    width: 70vw;
    position: relative;
    left: 15vw;
    
    
    display:flex;
    justify-content: center;
 
    
   
}

/*
for sliding images
 */
  
#img{
    background-image: url(img/IMG_20230903_165925.jpg);
    display: block;
}
#img1{
    background-image: url(img/IMG_20230903_170052.jpg);
       display: none;
}
#img2{
    background-image: url(img/IMG_20230903_170008.jpg);
    display: none;
}
#img3{
    background-image:url(img/IMG_20230903_170023.jpg);
    display: none;
}
.img{
    background-size: cover;
    height: 40vh;
    width: 70vw;
    position: absolute;
  
   
}

/* for content*/


#under_image_text{
    position: relative;
    top: 1vh;
    
    background-color: rgb(44, 47, 62);
    text-align: center;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


#content{
    height: 500vh;
    width: 80vw;
    position: relative;
    left: 10vw;
    bottom: 3vh;
   

   
    background-color: rgb(255, 255, 255);
    
}

.content_card{
    display: inline-block;
    height:20vh;
    width: 20vh;
    
}
.block{
    display: flex;
    height: 30vh;
    justify-content: space-around;
    position: relative;
    top:1vh;
    margin-top: 5vh;
}

