
.nav:hover{
    border-color: white;
    border-style: solid;
    border-width: 0.1vh;
}

.nav{
    
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 145, 0) ;
    background-color: rgb(0, 8, 51); 
    display: inline-block;
    padding: 2vh;
    margin-left:5vw;
    margin-right: 5vw;
    margin-top: 2vh;
    
}
#nav{
    background-color: rgb(0, 8, 51);
    height: 10vh;
}
body{
    text-align: center;
    text-decoration-line: none;
    
}

#capacity{
    display: inline-block;
    position: relative;
    top: 15vh;
    text-align: center;
  
    

}
.weight{
  
    height: 5vh;
    width: 10vw;
    font-size: large;

}