/* for navigation bar
*/
.nav:hover{
    
    color: white;
   
}

.nav{
    
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 145, 0) ;
    background-color: rgb(36, 38, 52); 
    text-decoration: none;
    display: inline-block;
    margin-top: 1.5rem;
    

}
#nav{
    background-color: rgb(36, 38, 52);
    height: 5rem;
    width: 100vw;
    display:flex;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
}
body{
    text-align: center;
    text-decoration-line: none;
    background-color: rgb(175, 205, 255);
    
}


.menu-button {
    margin-top: 2.5vh;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 4vh;
    height: 0.4vh;
    background-color: rgb(255, 145, 0);
    margin: 12%;
    
}


/*
for sliding images
 */

#container_img{
    position: relative;
  
    height: 45vh;
    width: 70vw;
    position: relative;
    left: 15vw;
     top: 8.5vh;
    
    display:flex;
    justify-content: center;
 
    
   
}


  
#img{
    background-image: url(img/t3.jpeg);
    display: block;
}
#img1{
    background-image: url(img/t2.jpeg);
       display: none;
}
#img2{
    background-image: url(img/t1.jpeg);
    display: none;
}
#img3{
    background-image:url(img/t4.jpeg);
    display: none;
}
.img{
    background-size: cover;
    height: 45vh;
    width: 70vw;
    position: absolute;
    border-color: black;
    border-style: solid;
    border-width: 0.2rem;
    
  
   
}

/* for content*/


#under_image_text{
    position: relative;
    top: 9vh;
    
    background-color: rgb(44, 47, 62);
    text-align: center;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


#content{
    width:70vw;
    
    left: 26vw;
  
    position: relative;
    
   
    
    background-color: rgb(214, 252, 253);
    top:8.5vh;
  
    border-collapse: collapse;
}


.card {
   
  
    
    cursor: pointer;
    font-size: 1.5rem;
    
    border-width: 0.1rem;
    border-color: #000000;
    border-collapse: collapses;
    position: relative;
    
    
   overflow: hidden;
   color: rgb(0, 0, 0);
    border-radius: 0px;
}

.col-md-4{
    height:22rem;
    width: 30rem;
    display: inline-block;
   
}
#content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    
    
}
.card-text{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}
#cardimage1{
    background-image: url(img/for_card/c1.jpeg);
    background-size:cover ;
}